
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" >
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rye">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

     <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css' ) }}">


   <header>
     <nav id="header-nav" class="navbar navbar-default">
       <div class="container">
         <div class="navbar-header">
             <a href="/" id="logo">E-TAX</a>


     <button type="button" name="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
   </button>
   </div>

    <span class="navbar-right">
        {% if user.is_authenticated %}
            Hi {{ user.firstname }}
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login"> Login </a>
        {% endif %}
      </span>

   </div>

     </nav>
    </header>
    <body>
<div  id="main-content" class="container">
  <div class="jumbotron">
  <p>"The best things in life are free,
    <br> sooner or later the government will find a way to tax them."</p>

  </div>
  <div id="home-tiles"  class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <a href="/rules"> <div id="menu-tiles"> <span>
Rules and Regulations
      </span></div> </a>

    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <a href="/rates"> <div id="specials-tiles"> <span>
Tax Rate
      </span></div> </a>

    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <a href="/form/{{ user.id }}"> <div id="offers-tiles"> <span>
    Tax Form
      </span></div> </a>

    </div>


  </div>

</div>

</body>





    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/bootstrap.min.js"></script>

<footer class="panel-footer">
       <div class="container">
            <div class="text-right">

                 <div class="col-md-12 col-md-offset-1 col-xs-12">
                      <span>Contact Us..</span>
                      <p class="textmilaying"><span class="fa fa-globe"></span>Kathmandu Nepal</p>

                      <span>Follow us on</span>
                      <div i="rat">
                      <a href="https://facebook.com/" class="fab fa-facebook"></a>
                      <a href="https://twitter.com" class="fab fa-twitter"></a>
                        <a href="https://instagram.com/" class="fab fa-instagram"></a>


                        </div>
                        <br>
                        <div class="footer-copyright">
                            <div class="text-center">
                               &copy; Copyright E-Tax 2021
                            </div>
                        </div>



                      <br><br>

                           </div>


                 </div>

                </div>
  </footer>
  </body>

</html>

