<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" >
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rye">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
     <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <title>Rules</title>
  </head>


   <header>
     <nav id="header-nav" class="navbar navbar-default">
       <div class="container">
         <div class="navbar-header">
             <a href="/" id="logo">E-TAX</a>


     <button type="button" name="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
   </button>
   </div>
   </div>

     </nav>
    </header>
    <body>
<div  id="main-content" class="container">
  <div class="container">
    <div class="text-block1">
      <h4>Rules And Regulation</h4>
      <p>1) The tax leviable for a fiscal year shall be recovered from the person in whose name a motor vehicle stands registered pursuant to the prevailing
        law on the first day of the month of Sharwan of each year.<br>
        Provided that, in the case of a motor vehicle transmitted prior to completion of a fiscal year, the leviable tax shall be recovered pro-rata from the previous
        owner of the motor vehicle for up to the month in which such transmission is effected and from the person to whom the vehicle is transmitted for the month
        thereafter.<br>
        (2) Each tax payer has to pay the tax leviable on a motor vehicle registered in his/her name within the last day of the month of Chaitra of each fiscal year or
        within the time-limit for its renewal, whichever occurs earlier.<br>
        (3) In the case of a motor vehicle to be registered initially, the tax leviable from the month in which the motor vehicle has been got released upon payment of
        customs duty prior to registration of such motor vehicle has to be paid on pro- rata basis.</p>
    </div>
  </div>


</div>

</body>





    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/bootstrap.min.js"></script>

<footer class="panel-footer">
       <div class="container">
            <div class="text-right">

                 <div class="col-md-12 col-md-offset-1 col-xs-12">
                      <span>Contact Us..</span>
                      <p class="textmilaying"><span class="fa fa-globe"></span>Kathmandu Nepal</p>

                      <span>Follow us on</span>
                      <div i="rat">
                      <a href="https://facebook.com/" class="fab fa-facebook"></a>
                      <a href="https://twitter.com" class="fab fa-twitter"></a>
                        <a href="https://instagram.com/" class="fab fa-instagram"></a>


                        </div>
                        <br>
                        <div class="footer-copyright">
                            <div class="text-center">
                               &copy; Copyright E-Tax 2021
                            </div>
                        </div>



                      <br><br>

                           </div>


                 </div>

                </div>
  </footer>
  </body>

</html>